:root {
  --text-color: #000500;
  --link-color: #ffffff;
  --background-color: #6665dd;
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: "Poppins", serif;
}

nav {
  display: flex;
  background: var(--background-color);
  width: 100%;
  height: 4.5rem;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  align-items: center;
}

a {
  text-decoration: none;
}

nav .left a {
  margin-left: 1rem;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 1.244rem;
}

nav .right a {
  margin: 0 1rem;
  color: var(--text-color);
  font-size: 1.245rem;
}

nav .right a:hover {
  color: var(--link-color);
  transition: color 0.3s ease-in-out;
}

section {
  padding: 8rem 2rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

section:nth-of-type(odd) {
  background-color: #f8f8f8;
}

section:nth-of-type(even) {
  background-color: #ffffff;
}

section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;
  letter-spacing: 1px;
  position: relative;
  background-color: none;
}

section h2::after {
  content: "";
  position: absolute;
  width: 200px;
  background-color: var(--background-color);
  height: 4px;
  bottom: -15px;
  left: 35%;
}

#about-section {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

#about-section h2 {
  margin-bottom: 1rem;
  font-size: 2.9rem;
  font-weight: 700;
}

#about-section .headshot {
  width: 20rem;
  height: 20rem;
  margin-bottom: 37px;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#about-section .headshot img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

#about-section .headshot img:hover {
  transform: scale(1.2);
}

#about-section .bio {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  max-width: 56.3rem;
}

#about-section .bio p {
  font-size: 1.4rem;
  font-weight: 300;
}

#about-section .social-links {
  font-size: 2.3rem;
}

#about-section .social-links a {
  padding: 0;
  margin: 0 0.75rem;
}

#about-section .social-links a i {
  transition:
    transform 0.3s,
    color 0.3s;
}

#about-section .social-links a:hover i {
  color: #473bf0;
  transform: scale(1.2);
}

#about-section .social-links i {
  color: var(--background-color);
  font-weight: 500;
}
